<h5 class="mb-3">Smart Contract Auditing Services</h5>

<p>Hi! I'm the co-founder of Defy Finance, a smart contract based auditing service. We understand that security is not a joke. We perform security audit of all solidity based smart contracts including Ethereum, BSc, Tron, Hecochain, DOT, etc.
Our vision is to become a "Center of Excellence" for what we do. We care about our Clients, and super enthusiastic about making smart contracts secure!</p>

<a target="_blank" href="/contact.html" class="btn btn-warning d-block mb-2"><i class="fa fa-file"></i> Request a Quote</a>

